@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --dark-grayish-blue: #48556a; 
    --desaturated-dark-blue: #6d7f97;
    --grayish-blue: #9eafc2;
    --light-grayish-blue: #ecf2f8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    min-height: 100vh;
    color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 385px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative; 
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
}

.main-body {
    width: 100%;
}

.mb-img {
    object-position: 0 0;
    width: 290px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    display: block;
}

.description {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
}

.header-text {
    line-height: 28px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.para-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #6e8098;
}

.bottom {
    margin-top: 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    font-size: 0.8125rem;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.contact-img {
    border-radius: 50%;
    width: 40px;
    display: block;
}
.name {
    margin-left: 1rem;
}

.name h1 {
    line-height: 20px;
    font-size: 14px;
}

.date {
    color: #9daec2;
}

.share-btn {
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.share-icon {
    width: 15px;
    height: 13px;
}

.share {
    display: none;
}

.share.active {
    position: absolute;
    bottom: 0;
    background-color: #48556a;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.share.active a,
.share.active p {
    text-decoration: none;
    font-size: 0.9rem;
    color: #9eafc2;
    letter-spacing: 3px;
    margin-right: 1em;
}

.share.active.share-btn {
    display: none;
}

.share p {
    padding-left: 5px;
}

.social-img {
    padding-left: 10px;
    padding-right: 30px;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 70px;
  }

@media only screen and (min-width: 800px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43rem; 
        border-radius: 10px;
        height: 17.5rem;
        margin-top: 150px;
    }

    .main-body {
        height: 100%;
    }

    .mb-img {
        object-fit: cover;
        object-position: 0 0;
        width: 290px;
        height: 290px;
        display: block;
        margin-right: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        height: 100%;
    }

    .description{
        margin-left: -25px;
        padding-left: 10px;
        padding-right: 60px;
    }

    .header-text{
        width: 400px;
        font-size: 23px;
    }

    .para-text{
        font-size: 14px;
    }

    .share.active {
        right: -80px;
        bottom: 100px;
        width: 248px;
        height: 55px;
        border-radius: 10px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .share.active .share-btn {
        display: none;
    }

    .details{
        padding-right: -10px;
    }

    .social-img{
        padding-left: 15px;
        padding-right: 15px;
    }

    .share p {
        padding-left: 10px;
    }

    .share-btn .share-icon{
        padding-right: -20px;
    }

    footer{
        padding-top: 210px;
    }
}

@media only screen and (min-width: 800px) {
    .share.active::after {
        content: '';
        position: absolute;
        background-color: #48556a;
        bottom: -10px;
        left: 47%;
        width: 20px;
        height: 10px;
        clip-path: polygon(50% 100%, 0 0, 100% 0); 
    }
    }

    @media screen and (min-width: 800px) {
    .header-text {
        font-size: 23px;
        letter-spacing: 0.25px;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .description {
        margin-top: 2rem;
        margin-bottom: 0;
    }

    .bottom {
        margin: 1.25rem 0 2rem 0;
    }
}